<h1><%= title %></h1>

<p class="funny-text">
  Something went a little sideways...  
  Our server is currently blaming the database.  
  Meanwhile, here’s what it actually said:
</p>

<%- messages() %>